:root {
  --text-color-blue-100: hsl(240, 6%, 50%);
  --text-color-blue-200: hsl(237, 12%, 33%);
  --text-color-blue-300: hsl(238, 29%, 16%);
  --accent-color-red: hsl(14, 88%, 65%);
  --dividers-color: hsl(240, 5%, 91%);
  --neutral-color-white: hsl(0, 0%, 100%);
  --brightBlue: hsl(229, 80%, 48%);
  --main-font: "Kumbh Sans", sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    180deg,
    hsl(273, 75%, 66%) 0%,
    hsl(240, 73%, 65%) 100%
  );
  height: 100vh;
  width: 100%;
  font-size: 1.2rem;
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 1.6;
  color: var(--text-color-blue-100);
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 3.2em 0 0.7em 0;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--text-color-blue-300);
}
h2 {
  padding-bottom: 0.5em;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--text-color-blue-200);
}
.container {
  position: relative;
  max-width: 420px;
  width: 85%;
  height: max-content;
  background-color: var(--neutral-color-white);
  border-radius: 20px;
  margin-top: 4em;
  box-shadow: 0 35px 25px hsla(271, 40%, 15%, 0.205);
}
.accordion {
  padding: 2em 2em 3em 2em;
}
.accordion__img {
  position: absolute;
  top: -105px;
  left: 50%;
  transform: translateX(-55%);
  filter: drop-shadow(0px 30px 1px hsl(286, 45%, 94%));
}

.accordion__item {
  border-bottom: 1px solid var(--dividers-color);
  margin-bottom: 1em;
}

.accordion__subtitle {
  margin-bottom: 0.5em;
}
.accordion__subtitle::after {
  content: url("images/icon-arrow-down.svg");
  color: var(--accent-color-red);
  float: right;
  transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
.active.accordion__subtitle::after {
  content: url("images/icon-arrow-down.svg");
  color: var(--accent-color-red);
  transform: rotate(180deg);
  float: right;
}
.accordion__subtitle:hover {
  color: var(--accent-color-red);
  cursor: pointer;
}
.active.accordion__subtitle {
  font-weight: 700;
  color: var(--text-color-blue-300);
}
.accordion__text {
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease max-height;
  margin-bottom: 0;
  padding-right: 1.4em;
}
footer {
  width: 100%;
  position: fixed;
  font-size: 1.1rem;
  text-align: center;
  bottom: 1em;
  color: var(--text-color-blue-300);
}
.attribution a {
  color: var(--brightBlue);
}
